.App {
  text-align: center;
}


#logo img {
  max-width: 100vw;
  max-height: 20vh;

  pointer-events: none;
  display: flex;
  opacity: 1;
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.Social {
  margin-top: 0px;
  /* padding-bottom: -10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 10vh;
  height: 10vh;
}


.App-link {
  color: rgb(89,167,252);
  font-weight: bold;
  cursor: pointer;
}

p, a {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
