body {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.App-header, p {
  background-color: rgb(255, 255, 255);
  max-height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: black;
  text-decoration: none;
}

#headerPhoto {
  margin-top: 420px;
  top: 0;
  left: 0;
  max-width: 70%;
}

.paraclass {
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 70%;
  /* margin-top: 100px; */
  background-color: rgba(255, 255, 255, .5);
  /* z-index: 100px; */
}

.App-header #headerPhoto {
  /* margin-top: 150px; */
  /* margin-bottom: -100px; */
  max-width: 70%;
  max-height: 20%;
}



#birds {
  /* position: absolute; */
  height: inherit;
  max-width: 30vw;
  pointer-events: none;
  display: flex;
  opacity: 1;
}

.Main-Home {
  background-color: white;
  border: solid gray;
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2 {
  text-decoration: none;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  #headerPhoto {
    /* position: static; */
    min-width: 100vw;
    /* margin-top: 330px; */
    display: flex;
    flex-direction: row;

  }
}

@media (min-width: 501px) {
  .App-header, #headerPhoto, .paraclass {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .paraclass {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  #birds {
    /* position: absolute; */
    height: inherit;
    max-width: 30vw;
    pointer-events: none;
    display: flex;
    opacity: 0;
    margin-bottom: -25px;
  }
  #headerPhoto {
    margin-top: 620px;
  }

}
