footer {
  background-color: linear-gradient(white,rgb(215, 227, 236));
}
.email {
  focus: hover;
  margin-bottom: 50px;
  text-align: center;
  display: inline-block;
}

.email:hover {
  opacity: .5;
}

.icons img a {
  margin-top: 0;
  /* display: block; */
}
