body {
  margin: 0px;
  padding: 0;
}
/* .Wrapper-Footer {
  display: flex;
  max-width: 100vw;
  text-align: center;
  background-image: url('../../assets/footerbkg.webp');
} */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
}

.social {
  width: 10vh;
  height: 10vh;
}


.partners a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: none;
  color: black;
  /* font-family: monospace; */

}

.partners a:hover {
  color: rgb(123,82,171);
}

.Wrapper-Footer-Info {
  background-image: url('../../assets/footerbkg.png');

}

.Wrapper-Footer-Info img {
  max-width: 100px;
}
